
html, body
  height 100%
  min-width 700px
  overflow hidden
  background-color black

.audio
  position absolute
  display none
  bottom 10%
  left 35%
  color red
  z-index 300

#score
  position absolute
  display none
  left 20%
  bottom 9%
  width 80px
  height: 50px
  background-color black
  border 1px solid black
  border-radius 5px
  color white
  z-index 300

#points
  position relative
  text-align center
  margin-top 15px
  font-size 20px

