html, body
  height 100%
  overflow hidden
  background-color black

.text-container
  opacity 1
  position absolute
  top 40%
  left 30%
  z-index 10

  .text
    color white

  #text2
    position absolute
    top 0

  #rainbowWord
    position relative
    float right
    clear none
    top -110px
    right -90px
    width 300px
    padding 0

.background-container
  position absolute
  width 1976px
  height 1308px
  top 0
  left 0
  opacity 0
  float left
  overflow hidden
  //background-image url('../images/large-star-scape.jpg')

  .background
    position absolute
    float left
    width 1976px
    height 1308px
    background-repeat no-repeat
    //background-repeat cover

  #background1
    left 0
    top 0
    background url('../images/large-star-scape.jpg')
    background-repeat repeat

  #background2
    left 1976px
    top 0
    background url('../images/large-star-scape.jpg')
    background-repeat repeat

  #background3
    left 3952px
    top 0
    background blue//url('../images/large-star-scape.jpg')
    background-repeat repeat

.nyan-cat
  position absolute
  display none
  top 40%
  left 10%
  //transform rotate(-1 deg)
  height 80px
  color white
  z-index 9

.pizza
  display none
  position absolute
  height 170px
  top 20%
  right 10%
  transform skewY(-12deg) skewX(40deg)

.comet
  display none
  position absolute
  transform rotate(-20 deg)

.comet1
  left 1700px
  top 50px
  opacity 1

.comet2
  opacity 0
  bottom 200px
  left 1100px

.comet3
  display none

.comet4
  display none

.comet5
  display none
