.comet
  position relative
  z-index 20
  transform rotate(-20deg)

.comet1
  display none
  right -1700px
  top 500px
  opacity 0.8

.comet2
  display none
  top 120px
  right -800px
  opacity 0

.comet3
  display none

.comet4
  display none

.comet5
  display none
