.nyan-cat
  position absolute
  display none
  top 40%
  left 10%
  width 200px
  height 100px
  align-content
  z-index 20
  overflow visible

#canvas
  position absolute
  display inline-block
  width 350px
  height 155px

