.pizza
  display none
  position absolute
  height 55px
  z-index 20
  transform skewY(-12deg) skewX(40deg)

#pizza1
  top 30%
  right -100px
  animation random 2s ease-in alternate infinite

#pizza2
  display 'inline'

@keyframes random
  0%
    top: 5%
  100%
    top: 95%

