.skull
  display none
  position absolute
  height 65px
  z-index 20

#skull1
  top 40%
  right -100px
  animation random 8s ease-in alternate infinite
  animation-delay 5s

@keyframes random
  0%
    top 93%
  100%
    top 5%

