.background-container
  position absolute
  width 1976px
  height 1308px
  top 0
  left 0
  opacity 0
  float left
  overflow hidden

  .background
    position absolute
    float left
    width 1976px
    height 1308px
    background-repeat no-repeat
    font-color black
    font-size 100px

  #background1
    left 0
    top 0
    width 200%
    opacity 0.6
    background url('../images/large-star-scape.jpg')
    background-repeat repeat
    z-index 11

  #background2
    left 0
    top -100px
    width 200%
    opacity 0.5
    z-index 10
    background url('../images/large-star-scape.jpg')
    background-repeat repeat

  #background3
    left 0
    top -200px
    width 400%
    z-index 9
    background url('../images/large-star-scape.jpg')
    background-repeat repeat

