.text-container
  position absolute
  top 40%
  left 30%
  min-width 700px
  z-index 10
  opacity 1

  .text
    color white

  #text2
    position absolute
    top 0

  #rainbowWord
    position relative
    float right
    top -52px
    right 45px
    width 245px
    padding 0

.instructions
  display none
  opacity 0
  position absolute
  top 70%
  left 30%
  z-index 300
  color white

  #press_space
    display inline

